{% extends 'layout-admin.html.twig' %} {% block title %}{{ parent() }} -
Modifier un client {% endblock %} {% block content %}
<main class="container">
    <h1>MODIFIER UN CLIENT</h1>
    <section>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="nom">Nom</label>
                <input
                    type="text"
                    id="nom"
                    name="nom"
                    placeholder="Nom"
                    required
                    value="{{ commande.prenom }}"
                />
            </div>

            <div>
                <label for="prenom">Prénom</label>
                <input
                    type="text"
                    id="prenom"
                    name="prenom"
                    placeholder="Prénom"
                    required
                    value="{{ commande.nom }}"
                />
            </div>

            <div>
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required
                    value="{{ commande.email }}"
                />
            </div>

            <div>
                <label for="telephone">Tel</label>
                <input
                    type="text"
                    id="telephone"
                    name="telephone"
                    placeholder="Téléphone"
                    required
                    value="{{ commande.telephone }}"
                />
            </div>

            <div>
                <label for="date">Date</label>
                <input
                    type="date"
                    id="date"
                    name="date"
                    placeholder="Date"
                    required
                    value="{{ commande.date }}"
                />
            </div>

            <div>
                <label for="nbconvives">Nombre de convives</label>
                <input
                    type="number"
                    id="nbconvives"
                    name="nbconvives"
                    placeholder="Convives"
                    required
                    value="{{ commande.nbconvives }}"
                />
            </div>

            <div>
                <label for="adresse_facturation">Adresse de facturation</label>
                <input
                    type="text"
                    id="adresse_facturation"
                    name="adresse_facturation"
                    placeholder="Adresse de facturation"
                    required
                    value="{{ commande.adresse_livraison }}"
                />
            </div>

            <div>
                <label for="adresse_livraison">Adresse de livraison</label>
                <input
                    type="text"
                    id="adresse_livraison"
                    name="adresse_livraison"
                    placeholder="Lieu de la restauration"
                    required
                    value="{{ commande.adresse_facturation }}"
                />
            </div>

            <button type="submit">MODIFIER</button>
        </form>
    </section>
</main>

{% endblock %}
